---
interface Props {
	name: string;
    major: string;
    dateGraduated: string;
    course: 
        {
            courseName: string;
            courseNo: string;
        }[]
}

const {name, major, dateGraduated, course} = Astro.props;

---
 
<section class="mt-2 border-b-2 break-inside-avoid">
    <header>
        <h3
            class="text-lg font-semibold text-gray-700 leading-snugish">
            {name}
        </h3>
        <p class="leading-normal text-gray-500 text-md">
            {dateGraduated} 
        </p>
    </header>
    <ul class="mt-2 list-disc list-inside text-gray-800 text-md">
        <li>
            <span
                class="font-semibold text-md">
                Major:
            </span>
            {major}
        </li>

        </li>
        <li>
            <span
                class="font-semibold text-md">
                Courses:
            </span>
            <>
            {course.map(item => (   
                  <span>{item.courseName }, </span>
            ))} 
            </>
        </li>
    </ul>
</section>


