---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Gishgok Nadé kenak">
	<main class="bg-sky-600">
		<Navbar />
        <div class="h-screen relative overflow-hidden rounded-lg bg-contain bg-no-repeat p-12 text-center" 
        style="margin-top: 10px; background-image: url(../../turtleLogo.svg);" >
        <p>Coming Soon...</p>
        </div>
        <Footer />
    </main>
</Layout>
